@model IEnumerable<Contact>
@{
    ViewData["Title"] = "Admin Contact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Mesajlar</h1>

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Ad
            </td>
            <td>
                Soyad
            </td>
            <td>
                Email
            </td>
            <td>
                Konu
            </td>
            <td>
                Okundu
            </td>
            <td>
                İşlemler
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var k in Model)
        {
            
                <tr>
                    <td>
                        @k.Id
                    </td>
                    <td>
                        @k.Name
                    </td>
                    <td>
                        @k.Surname
                    </td>
                <td>
                    @k.Email
                </td>
                    <td>
                        @k.Subject
                    </td>
                <td>
                    @if (k.IsRead == false)
                    {
                        
                        <i style="color:red; font-size:25px; " class="fas fa-times"></i>
                    }
					else{
                        <i style="color:green; font-size:25px;" class="fas fa-check"></i>
                    }
                </td>
                  
                    <td align="left">
                        <div class="dropdown">
                            <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#details-@(k.Id)"><i class="fas fa-info-circle"></i> Detaylar</a>
                                <div class="dropdown-divider"></div>


                                <a class="dropdown-item" style="color:red; font-weight:bold;" href="/AdminContact/Delete/@k.Id" onclick="return confirm('Gerçekten silmek istiyor musunuz?')"><i class="fas fa-trash-alt"></i> Sil</a>

                            </div>
                        </div>
                    </td>
                </tr>
            
            @await Html.PartialAsync("Details",k)
        }
    </tbody>
</table>

@section Header{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css" />
}

@section Scripts{


    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $('#tbl1').DataTable();
    </script>

}